{% load static %}
<nav class="navbar-vertical-nav offcanvas offcanvas-start navbar-offcanvac" tabindex="-1"
id="offcanvasExample">
<div class="navbar-vertical">
    <div class="px-4 py-5 d-flex justify-content-between align-items-center">
        <a href="../admin/admin.html" class="navbar-brand">
            <img src="../assets/img/library.png" alt="" width="20px" height="20px" />
        </a>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="navbar-vertical-content flex-grow-1" data-simplebar="">
        <ul class="navbar-nav flex-column">
            <li class="nav-item">
                <a class="nav-link " href="admin.html">
                    <div class="d-flex align-items-center">
                        <span class="nav-link-icon"><i class="bi bi-house"></i></span>
                        <span class="nav-link-text">Dhashboard</span>
                    </div>
                </a>
            </li>
            <li class="nav-item mt-6 mb-3">
                <span class="nav-label">10 / 30 tizimi</span>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="fileTable.html">
                    <div class="d-flex align-items-center">
                        <span class="nav-link-icon"><i class="bi bi-table"></i></span>
                        <span class="nav-link-text">Hujjatlar jadvali</span>
                    </div>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link active" href="fileUpload.html">
                    <div class="d-flex align-items-center">
                        <span class="nav-link-icon"><i
                                class="bi bi-file-earmark-arrow-up-fill"></i></span>
                        <span class="nav-link-text">Fayllarni yuklash</span>
                    </div>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link " href="profile.html">
                    <div class="d-flex align-items-center">
                        <span class="nav-link-icon"><i class="bi bi-gear"></i></span>
                        <span class="nav-link-text">Foydalanuvchi sozlamalari</span>
                    </div>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="notification.html">
                    <div class="d-flex align-items-center">
                        <span class="nav-link-icon"><i class="bi bi-chat"></i></span>
                        <span class="nav-link-text">Xabarlar</span>
                    </div>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link " href="login.html">
                    <div class="d-flex align-items-center">
                        <span class="nav-link-icon"><i class="bi bi-box-arrow-in-right"></i></span>
                        <span class="nav-link-text">Kirish</span>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</div>
</nav>